* {
  margin:0; padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
	font-size: calc(0.75em + 1vmin);
}

ul {
  margin:0;
  list-style: none;
  position: relative;
}

mark {
  background: $main-color-light;
  // color: #666;
}

a, .btn:focus {
	box-shadow: unset !important;
}